# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDEs
.idea/
*.iml
.vscode/

# Web compiled output (uncomment if you want to exclude built js)
# build/web/